@use "sass:math";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
:root {
    --colorItems: #252525;
    --colorSeagulTitle: #003153;
    --colorButton: #540F11;
    --colorBackgroundCard: #DFDFDF;
    --colorCardText: #444444;
    --colorParagraph: #A2A2A2;
    --colorRequest: #4B4B4B;
    --colorPresence: #E10000;
    --colorBorder: #133453;
    --colorBackCards: #FAFAFA;
    --colorCardTitle: #444;
    --colorStar: #DDDDDD;
    --colorButtonMore: #252525;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
[class*="__container"] {
    max-width: 1520px;
    margin: 0 auto;

    @media (max-width:1560px) {
        padding: 0 30px;
    }

    @media (max-width:500px) {
        padding: 0 16px;
    }

}

[class*="icon-"] {
    &:before {
        @extend %ic;
        display: block;
    }
}

[class*="--ibg"] {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 0%;
}

[class*="--img"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

%ic {
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body {
    font-family: "Montserrat";
    overflow-x: hidden;
}

.bold {
    font-weight: 700;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.page {
    // .page__assortment

    &__assortment {}

    // .page__seagull

    &__seagull {}

    // .page__step

    &__step {}

    // .page__material

    &__material {}

    // .page__properties

    &__properties {}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.seagull {
    margin: 110px 0 166px 0;

    @media (max-width:768px) {
        margin: 55px 0 88px 0;
    }

    // .seagull__container

    &__container {}

    // .seagull__block

    &__block {
        display: flex;
        gap: 59px;

        @media (max-width:768px) {
            flex-direction: column;
        }

        @media (max-width:375px) {
            gap: 25px;
        }
    }

    // .seagull__picture

    &__picture {
        flex: 0 1 23%;
        display: flex;

        @media (max-width:991px) {
            flex: 0 1 55%;
        }
    }

    // .seagull__image

    &__image {
        @media (max-width:375px) {
            width: 100%;
            height: 100%;
        }
    }

    // .seagull__links

    &__links {
        flex: 0 1 71%;
        margin-top: 5px;

        @media (max-width:991px) {
            flex: 0 1 70%;
        }
    }

    // .seagull__link

    &__link {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    // .seagull__item

    &__item {
        color: var(--colorItems);
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        display: flex;
        gap: 10px;

        @media (max-width:375px) {
            font-size: 16px;
        }

        &:before {
            font-size: 20px;

            @media (max-width:375px) {
                margin: auto;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.step {
    margin-bottom: 101px;

    @media (max-width:768px) {
        margin-bottom: 80px;
    }

    @media (max-width:375px) {
        margin-bottom: 40px;
    }

    // .step__container

    &__container {
        padding: 52px 80px 60px 80px;

        @media (max-width:1440px) {
            padding: 52px 30px 60px 30px;
        }

        @media (max-width:768px) {
            padding: 26px 30px 30px 30px;
        }

        @media (max-width:500px) {
            padding: 20px 16px 0 16px;
        }
    }

    // .step__title

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 62px;

        @media (max-width:768px) {
            margin-bottom: 31px;
        }

        @media (max-width:375px) {
            margin-bottom: 16px;
        }

        // .step__title-logo

        &-logo {
            margin-right: 14px;

            @media (max-width:500px) {
                margin-right: 7px;
            }

            &:before {
                font-size: 24px;

                @media (max-width:500px) {
                    font-size: 14px;
                }
            }
        }

        // .step__title-text

        &-text {
            display: flex;
            gap: 22px;
            align-items: center;
            color: var(--colorSeagulTitle);
            font-size: 36px;
            font-weight: 700;
            line-height: 100%;
            text-transform: uppercase;

            @media (max-width:768px) {
                font-size: 24px;
            }

            @media (max-width:500px) {
                font-size: 14px;
                gap: 12px;
            }

            &:before {
                font-size: 24px;
                height: 25px;
                color: var(--colorSeagulTitle);

                @media (max-width:500px) {
                    font-size: 14px;
                }
            }
        }
    }

    // .step__list

    &__list {
        display: grid;
        grid-template-columns: 31% 38% 31%;
        grid-template-rows: repeat(2, 1fr);

        @media (max-width:1200px) {
            grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
        }

        @media (max-width:375px) {
            grid-template-columns: 1fr;
        }

        // .step__list-item

        &-item {
            // .step__list-item--bottom

            &--bottom {
                padding-bottom: 30px;

                &:nth-child(3) {
                    @media (max-width:992px) {
                        padding-top: 30px;
                        border-right: 1px solid var(--colorSeagulTitle);
                        padding-right: 16px;
                    }

                    @media (max-width:375px) {
                        padding-right: 5px;
                    }
                }
            }

            // .step__list-item--last

            &--last {
                align-self: start;
                padding-bottom: 55px;

                @media (max-width:1440px) {
                    align-self: auto;
                }

                @media (max-width:768px) {
                    padding-bottom: 26px;
                }
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5) {
                border-right: 1px solid var(--colorSeagulTitle);
                padding-top: 9px;
                padding-right: 16px;

                @media (max-width:681px) {
                    padding-top: 26px;
                }

                @media (max-width:375px) {
                    padding-right: 5px;
                }
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                padding-bottom: 26px;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(6) {
                padding-left: 39px;

                @media (max-width:992px) {
                    padding-left: calc(15px + (30 - 15) * ((100vw - 320px) / (992 - 320)));
                }

                @media (max-width:681px) {
                    padding-top: 26px;
                }

                @media (max-width:375px) {
                    padding-left: 0;
                }
            }

            &:nth-child(4),
            &:nth-child(5) {
                padding-top: 30px;

                @media (max-width:681px) {
                    padding-top: 26px;
                }
            }

            &:nth-child(6) {
                padding-top: 70px;

                @media (max-width:681px) {
                    padding: 26px 15px 0 0;

                }
            }

            &:nth-child(3),
            &:nth-child(5) {
                @media (max-width:992px) {
                    padding-left: 0;
                }
            }

            &:nth-child(4) {
                @media (max-width:992px) {
                    padding-left: 30px;
                    border-bottom: 1px solid var(--colorSeagulTitle);
                    border-right: 0px solid var(--colorSeagulTitle);
                }
            }

            &:nth-child(2) {
                @media (max-width:992px) {
                    border-right: 0px solid var(--colorSeagulTitle);
                }
            }

            @media (max-width:681px) {

                &:nth-child(2),
                &:nth-child(4) {
                    border-right: 1px solid var(--colorSeagulTitle);
                    padding-left: 0;
                }

                &:nth-child(5) {
                    border-bottom: 1px solid var(--colorSeagulTitle);
                }
            }

            // .step__list-item--bottom

            &--bottom {
                border-bottom: 1px solid var(--colorSeagulTitle);
            }
        }

        // .step__list-head

        &-head {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-bottom: 21px;

        }

        // .step__list-logo

        &-logo {
            margin-top: 6px;
            min-width: 48px;
        }

        // .step__list-text

        &-text {
            color: var(--colorSeagulTitle);
            font-size: 18px;
            font-weight: 700;
            line-height: 100%;
            word-break: break-word;
        }

        // .step__list-description

        &-description {
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            @media (max-width:768px) {
                font-size: 16px;
            }
        }

        // .step__list-result

        &-result {
            color: var(--colorSeagulTitle);
            font-size: 24px;
            font-weight: 700;
            line-height: 110%;

            @media (max-width:375px) {
                font-size: 18px;
            }
        }
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.material {
    margin-bottom: 80px;

    @media (max-width:375px) {
        margin-bottom: 55px;
    }

    // .material__container

    &__container {}

    // .material__block

    &__block {
        display: grid;
        grid-template-columns: 50% 50%;

        @media (max-width:991px) {
            grid-template-columns: 100%;
            grid-template-rows: 1fr auto;
        }
    }

    // .material__picture

    &__picture {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        // background: url("images/barrel.jpg") 0 0/cover no-repeat;
        padding: calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 411px;
            height: 411px;
            border-radius: 411px;
            background: #000;
            filter: blur(128.3333282470703px);
        }

        // .material__picture-img

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // .material__picture-logo

        &-logo {
            position: relative;
            z-index: 3;
            margin-bottom: 30px;

            &::before {
                color: #fff;
                font-size: 37px;

                @media (max-width:768px) {
                    font-size: 28px;
                }
            }
        }

        // .material__picture-title

        &-title {
            position: relative;
            z-index: 3;
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            line-height: 130%;
            text-transform: uppercase;
            max-width: 377px;
            margin-bottom: 265px;

            @media (max-width:768px) {
                font-size: 24px;
            }
        }

        // .material__picture-text

        &-text {
            position: relative;
            z-index: 3;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            max-width: 235px;
            margin-bottom: 38px;

        }

        // .material__picture-go

        &-go {
            position: relative;
            z-index: 3;
            display: inline-flex;
            padding: 21px 36px;
            background-color: #fff;
            color: var(--colorSeagulTitle);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    // .material__description

    &__description {

        padding: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320))) calc(20px + (70 - 20) * ((100vw - 320px) / (1920 - 320))) 30px calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
        border-top: 1px solid var(--colorBorder);
        border-right: 1px solid var(--colorBorder);
        border-bottom: 1px solid var(--colorBorder);

        @media (max-width:991px) {
            border-left: 1px solid var(--colorBorder);
        }

        // .material__description-links

        &-links {
            margin-bottom: 31px;

            @media (max-width:375px) {
                margin-bottom: 20px;
            }
        }

        // .material__description-link

        &-link {
            display: flex;
            align-items: center;
            position: relative;
            top: 0;
            left: 0;

            &:not(:last-child) {
                margin-bottom: 19px;
            }
        }

        // .material__description-text

        &-text {
            padding-left: 16px;
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            @media (max-width:375px) {
                font-size: 16px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 5px;
                height: 5px;
                background-color: var(--colorItems);
                border-radius: 50%;

            }
        }

        // .material__description-paragraph

        &-paragraph {
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            @media (max-width:375px) {
                font-size: 16px;
            }
        }
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.properties {
    margin-bottom: 159px;

    @media (max-width:768px) {
        margin-bottom: 80px;
    }

    @media (max-width:375px) {
        margin-bottom: 50px;
    }

    // .properties__container

    &__container {}

    // .properties__block

    &__block {
        display: grid;
        grid-template-columns: 50% 50%;

        @media (max-width:1200px) {
            grid-template-columns: 100%;
            grid-template-rows: 1fr auto;
        }
    }

    // .properties__picture

    &__picture {


        // .properties__picture-img

        &-img {
            position: absolute;
            z-index: 0;
            object-fit: cover;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 450px;
            // min-height: 100%;

            // @media (max-width:1200px) {
            //     min-height: 400px;
            // }
        }

        // .properties__picture-backgr

        &-backgr {
            position: absolute;
            top: 72%;
            left: 0;
            z-index: 2;
            width: 100%;


            @media (max-width:1440px) {
                height: 600px;
                top: 52%;
            }

            @media (max-width:1365px) {
                height: 665px;
                top: 35%;
            }

            @media (max-width:1200px) {
                height: 592px;
                top: 74%;
            }

            @media (max-width:500px) {
                height: 504px;
            }
        }

        // .properties__picture-head

        &-head {
            padding: 52px 38px 14px 60px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            top: 0;
            left: 0;
            z-index: -1;

            @media (max-width:768px) {
                padding: 26px 30px 14px 30px;
            }
        }

        // .properties__picture-title

        &-title {
            margin-bottom: 19px;
            position: relative;
            z-index: 10;

            @media (max-width:768px) {
                width: 250px;
            }
        }

        // .properties__picture-subtitle

        &-subtitle {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            line-height: 130%;
            text-transform: uppercase;
            max-width: 460px;
            position: relative;
            z-index: 10;

            @media (max-width:768px) {
                font-size: 24px;
            }

            @media (max-width:375px) {
                font-size: 18px;
            }
        }

        // .properties__picture-body

        &-body {
            display: flex;
            padding: 0 38px 0 60px;
            position: relative;
            bottom: 0;
            left: 0;
            overflow: hidden;

            @media (max-width:1440px) {
                padding-left: 38px;
            }

            @media (max-width:768px) {
                padding: 0 calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320))) 10px;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0%;
                left: 0;
                width: 100%;
                height: 241px;
                background: #540F11 linear-gradient(180deg, rgba(0, 7, 13, 0) 0%, #00070D 100%);
                z-index: -1;
            }
        }

        // .properties__picture-links

        &-links {
            align-self: start;
            margin-top: 178px;
            flex: 0 1 50%;
            position: relative;
            z-index: 3;
        }

        // .properties__picture-link

        &-link {
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &:nth-child(3) {
                margin-bottom: 44px;
            }
        }

        // .properties__picture-text

        &-text {
            display: flex;
            gap: 20px;
            color: #fff;
            font-family: "Roboto";
            font-size: 18.801px;
            font-weight: 400;
            line-height: 22px;

            @media (max-width:500px) {
                font-size: 14px;
                gap: 10px;
            }
        }

        // .properties__picture-image

        &-image {
            flex: 0 1 50%;

            @media (max-width:1440px) {
                height: 489px;
            }

            @media (max-width:1365px) {
                height: 514px;
            }

            @media (max-width:1265px) {
                width: auto;
            }

            @media (max-width:1200px) {
                height: 524px;
            }

            @media (max-width:768px) {
                height: 546px;
            }

            @media (max-width:500px) {
                height: 100%;
                width: auto;
                position: absolute;
                top: 0%;
                right: -24%;
                z-index: 2;
            }
        }

        // .properties__picture-go

        &-go {
            display: inline-flex;
            padding: 21px 36px;
            color: var(--colorButton);
            background-color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            white-space: nowrap;

            @media (max-width:500px) {
                padding: 21px 18px;
            }
        }
    }

    // .properties__description

    &__description {
        border-top: 1px solid var(--colorBorder);
        border-right: 1px solid var(--colorBorder);
        border-bottom: 1px solid var(--colorBorder);
        padding: 60px;

        @media (max-width:1365px) {
            padding: calc(25px + (50 - 25) * ((100vw - 320px) / (1440 - 320))) calc(25px + (50 - 25) * ((100vw - 320px) / (1440 - 320))) 10px calc(25px + (50 - 25) * ((100vw - 320px) / (1440 - 320)));

        }

        @media (max-width:1200px) {
            border-left: 1px solid var(--colorBorder);
            padding-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (1200 - 320)));
        }

        @media (max-width:375px) {
            padding: 10px;
        }

        // .properties__description-text

        &-text {
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            @media (max-width:375px) {
                font-size: 16px;
            }

            &:first-child {
                margin-bottom: 19px;
            }

        }

        // .properties__description-base

        &-base {
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 700;
            line-height: 100%;
            margin-top: 28px;
            margin-bottom: 9px;

            @media (max-width:375px) {
                font-size: 16px;
            }
        }

        // .properties__description-paragraph

        &-paragraph {
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            @media (max-width:375px) {
                font-size: 16px;
            }
        }

        // .properties__description-additives

        &-additives {
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 700;
            line-height: 100%;
            margin-top: 18px;
            margin-bottom: 9px;

            @media (max-width:375px) {
                font-size: 16px;
            }
        }

        // .properties__description-names

        &-names {
            color: var(--colorItems);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            @media (max-width:375px) {
                font-size: 16px;
            }
        }
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.assortment {

    // .assortment__container

    &__container {}

    // .assortment__title

    &__title {
        color: var(--colorSeagulTitle);
        font-size: 36px;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;

        @media (max-width:768px) {
            font-size: 24px;
        }

        @media (max-width:375px) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    // .assortment__filters

    &__filters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 80px;

        @media (max-width:991px) {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }

        @media (max-width:500px) {
            margin-bottom: 35px;
            gap: 15px;
        }

        // .assortment__filters-item

        &-item {
            padding: 20px 14px 20px 30px;
            border: 1px solid var(--colorBackgroundCard);
            background: var(--colorBackCards);
            cursor: pointer;
            transition: background .3s ease-in-out 0s;

            @media (max-width:375px) {
                padding: 15px;
            }

            &.active {
                transition: background .3s ease-in-out 0s;
                background: var(--colorSeagulTitle);

                .assortment__filters-title,
                .assortment__filters-description {
                    color: #fff;
                }
            }
        }

        // .assortment__filters-title

        &-title {
            color: var(--colorCardTitle);
            font-size: 18px;
            font-weight: 700;
            line-height: 100%;
            text-transform: uppercase;
            margin-bottom: 10px;

            @media (max-width:768px) {
                font-size: 16px;
            }
        }

        // .assortment__filters-description

        &-description {
            color: var(--colorCardTitle);
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
        }
    }

    // .assortment__list

    &__list {
        // .assortment__list-card

        &-card {}
    }

    // .assortment__more

    &__more {
        display: flex;
        width: 100%;
        padding: 18px;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--colorBackgroundCard);
        background: var(--colorBackCards);
        color: var(--colorButtonMore);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transition: all .3s ease-in-out 0s;
    }

    // .assortment__pagination

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 38px;
        // .assortment__pagination-numb

        &-numb {
            color: var(--colorItems);
            font-size: 16px;
            font-weight: 700;
            line-height: 100%;
            cursor: pointer;

            &.active {
                background: var(--colorSeagulTitle);
                color: #fff;
                padding: 5px 10px 2px 10px;
            }
        }

        // .assortment__pagination-arrow

        &-arrow {}
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.card-list {
    display: grid;
    grid-template-columns: 22% 54% 21%;
    grid-template-areas:
        "i1 i2 i3"
        "i1 i4 i4";
    border: 1px solid var(--colorBackgroundCard);
    padding: 28px 25px 29px 25px;
    gap: 10px;

    @media (max-width:1440px) {
        gap: 10px;
    }

    @media (max-width:1200px) {
        grid-template-columns: 1fr 2fr min-content;
    }

    @media (max-width:850px) {
        padding: 20px 20px 20px 20px;
        grid-template-columns: repeat(2, 1fr);

        grid-template-areas:
            "i1 i2"
            "i1 i3";
    }

    @media (max-width:500px) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr repeat(2, auto);
        grid-template-areas:
            "i1"
            "i2"
            "i3";
    }

    &:nth-child(n+4) {
        display: none;
    }

    &.is-visible {
        display: grid;
    }

    // .card-list__picture

    &__picture {
        grid-area: i1;

        @media (max-width:850px) {
            display: flex;

        }
    }

    // .card-list__image

    &__image {
        @media (max-width:1440px) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width:850px) {
            margin: auto 0 auto 0;
            height: auto;
        }

        @media (max-width:550px) {
            height: 45%;
        }

        @media (max-width:500px) {
            height: auto;
        }
    }

    //.card-list__video
    &__video {
        width: 332px;
        height: 332px;

        @media (max-width:1440px) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .card-list__main

    &__main {
        margin-left: 29px;

        @media (max-width:991px) {
            margin-left: 15px;
        }

        @media (max-width:850px) {
            margin-left: 0;
        }
    }

    // .card-list__name

    &__name {
        grid-area: i2;
        color: var(--colorItems);
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 12px;

        @media (max-width:991px) {
            font-size: 18px;
        }
    }

    // .card-list__body

    &__body {
        display: flex;
        align-items: center;
        gap: 43px;
        margin-bottom: 18px;

        @media (max-width:1440px) {
            gap: 10px;
            justify-content: space-between;
        }

        @media (max-width:850px) {
            flex-direction: column;
            align-items: start;
        }
    }

    // .card-list__rating

    &__rating {
        display: inline-flex;
        gap: 3px;
        flex-direction: row-reverse;

        &[data-total-value="1"] .card-list__item:nth-child(n + 5),
        &[data-total-value="2"] .card-list__item:nth-child(n + 4),
        &[data-total-value="3"] .card-list__item:nth-child(n + 3),
        &[data-total-value="4"] .card-list__item:nth-child(n + 2),
        &[data-total-value="5"] .card-list__item:nth-child(n + 1) {
            color: orange;
        }
    }

    // .card-list__item

    &__item {
        font-size: 24px;
        color: var(--colorStar);
        cursor: pointer;
        transition: .2s;

        @media (max-width:991px) {
            font-size: 20px;
        }

        &:hover,
        &:hover~& {
            color: #989898;
        }

    }

    // .card-list__presence

    &__presence {}

    // .card-list__text

    &__text {
        color: var(--colorPresence);
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 6px;

        &:before {
            content: "";
            width: 4px;
            height: 4px;
            position: absolute;
            top: 46%;
            left: -3px;
            background-color: var(--colorPresence);
            border-radius: 50%;
        }
    }

    // .card-list__article

    &__article {
        color: var(--colorParagraph);
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
    }

    // .card-list__description

    &__description {
        color: var(--colorRequest);
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        max-width: 1095px;

        @media (max-width:991px) {
            font-size: 16px;
        }

        @media (max-width:850px) {
            // grid-area: i4;
            // margin-left: 15px;
        }
    }

    // .card-list__end

    &__end {
        grid-area: i3;
        margin-left: auto;
    }

    // .card-list__request

    &__request {
        color: var(--colorRequest);
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 20px;
    }

    // .card-list__order

    &__order {
        display: inline-flex;
        justify-content: center;
        padding: 21px 76px;
        border-radius: 7px;
        background: var(--colorSeagulTitle);
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
        white-space: nowrap;

        @media (max-width:991px) {
            padding: 21px 56px;
        }

        @media (max-width:500px) {
            width: 100%;
        }
    }

    // .card-list__paragraph

    &__paragraph {
        color: var(--colorParagraph);
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
    }
}